.orangeHeader__area {
  width: 100%;
  display: none;
  z-index: 100;
  transition: all 0.3s;
}

.orangeHeader__area_fixed {
  position: absolute;
  top: 0;
  left: 0;
}

.orangeHeader__areaFake2 {
  width: 100%;
  height: 0;
}

.orangeHeader__outer {
  width: 100%;
  /* background: var(--orange); */
}

.orangeHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 5px 10px 0; */
  padding: 5px 10px 10px;
  background: var(--header);
  z-index: 50;
  position: relative;
}

.orangeLogo {
  position: relative;
  width: 100%;
  max-width: 152px;
}

.orangeLogo a {
  text-decoration: none;
  width: 100%;
}

.orangeLogo img {
  width: 100%;
  display: block;
  max-width: 152px;
}

/* 0801000 */

.logo2 {
  width: 100%;
  max-width: 175px;
  margin-bottom: 20px;
}

.logo2 a {
  text-decoration: none;
}

.logo2 img {
  display: block;
  width: 100%;
}

.headerRightLi {
  text-decoration: none;
  color: var(--text2);
  text-transform: uppercase;
  position: relative;
  font-size: 1rem;
  line-height: 1.5;
  margin-right: 2rem;
  cursor: pointer;
}

.headerRightLi:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 0;
  background: var(--text2);
  transition: all 0.1s;
  opacity: 0;
}

.headerRightLi:hover:after {
  opacity: 1;
  bottom: -8px;
  height: 3px;
}
