.topLine2__area {
  width: 100%;
  background: var(--dark2);
}

.topLine2__outer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.topLine2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.topLine2__item {
  display: flex;
  align-items: center;
}

.topLine2__item i {
  color: #fff;
  font-size: 0.875rem;
}

.topLine2__item span {
  color: #fff;
  font-size: 0.75rem;
  margin-left: 1rem;
}

.topLine2__item a {
  text-decoration: none;
  color: #fff;
  font-size: 0.75rem;
  margin-left: 1rem;
  font-weight: 600;
}

.header2__area {
  width: 100%;
  position: relative;
}

.header2__searchArea {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 50;
  display: none;
}

.header2__searchOuter {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.header2__search {
  display: flex;
  padding: 20px 0 30px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header2_searchForm {
  display: flex;
  width: 100%;
  max-width: 710px;
  position: relative;
}

.header2_searchForm input {
  background: #fff;
  border: none;
  border-bottom: 1px solid #959595;
  outline: none;
  height: 2rem;
  font-size: 0.875rem;
  color: var(--text2);
  padding: 0;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
  flex: 1;
}

.header2_searchForm button {
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.header2_searchForm button i {
  font-size: 1.625rem;
  color: var(--text2);
}

.header2_searchForm button:hover i {
  color: var(--orange);
}

.searchPreResults__area {
  position: absolute;
  left: 0;
  background: #fff;
  top: 100%;
  width: calc(100% - 44px);
  display: none;
}

.searchPreResults {
  width: 100%;
  max-height: 40vh;
  overflow-y: scroll;
  /* border-bottom: 2px solid var(--x1greyLight); */
}

.searchPreResults li {
  list-style: none;
  width: 100%;
  border-bottom: 1px solid var(--x1greyLight);
}

.searchPreResults li a {
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 2px 0;
  transition: all 0.3s;
}

.searchPreResults li a:hover {
  background: var(--colorLightGrey);
}

/* .searchPreResults li:last-child a {
  display: flex;
  padding: 5px 10px;
  font-size: 0.75rem;
  color: #000;
  justify-content: center;
  align-items: center;
} */

.searchPreResults__img {
  width: 10%;
  padding: 5px 10px;
}
.searchPreResults__img img {
  display: block;
  width: 100%;
}

.searchPreResults__info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 2rem;
}

.searchPreResults__info b {
  font-weight: 700;
  color: var(--orange);
}

.searchPreResults__title {
  font-size: 0.875rem;
  color: #000;
  line-height: 1.4;
}

.searchPreResults__brand {
  font-size: 0.875rem;
  color: var(--text2light);
  line-height: 1.4;
  margin-left: 2rem;
}

.searchPreResults__price {
  font-size: 0.875rem;
  line-height: 1.3;
  font-weight: 700;
  margin-left: auto;
  padding-right: 1rem;
  color: #000;
}

.searchPreResults__allBtn {
  text-decoration: none;
  width: 100%;
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  color: #fff;
  font-size: 0.875rem;
  background: var(--x1greyLight);
  transition: all 0.3s;
  border-bottom: 2px solid var(--x1greyLight);
}
.searchPreResults__allBtn:hover {
  background: var(--dark2);
  color: #fff;
  text-decoration: none;
}

/*пре-результаты поиска в адаптивной версии*/
.searchPreResults__area_mb {
  position: absolute;
  left: 0;
  background: #fff;
  top: calc(100% + 10px);
  width: 100%;
  display: none;
}

.searchPreResults_mb {
  width: 100%;
  max-height: 40vh;
  overflow-y: scroll;
  border-left: 1px solid var(--colorLightGrey);
}

.searchPreResults_mb li {
  list-style: none;
  width: 100%;
  border-bottom: 1px solid var(--x1greyLight);
}

.searchPreResults_mb li a {
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 2px 0;
  transition: all 0.3s;
}

.searchPreResults_mb li a:hover {
  background: var(--colorLightGrey);
}

.searchPreResults__img_mb {
  width: 10%;
  padding: 5px 10px;
}
.searchPreResults__img_mb img {
  display: block;
  width: 100%;
}

.searchPreResults__info_mb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 2rem;
}

.searchPreResults__info_mb b {
  font-weight: 700;
  color: var(--orange);
}

.searchPreResults__title_mb {
  font-size: 0.875rem;
  color: #000;
  line-height: 1.4;
}

.searchPreResults__brand_mb {
  font-size: 0.875rem;
  color: var(--text2light);
  line-height: 1.4;
  margin-left: 2rem;
}

.searchPreResults__price_mb {
  font-size: 0.875rem;
  line-height: 1.3;
  font-weight: 700;
  margin-left: auto;
  padding-right: 1rem;
  color: #000;
}

.searchPreResults__allBtn_mb {
  text-decoration: none;
  width: 100%;
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  color: #fff;
  font-size: 0.875rem;
  background: var(--x1greyLight);
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
  transition: all 0.3s;
  border-bottom: 2px solid var(--x1greyLight);
}
.searchPreResults__allBtn_mb:hover {
  background: var(--dark2);
  color: #fff;
  text-decoration: none;
}
/*Конец адаптивных пре-результатов*/

.header2_searchClose {
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.header2_searchClose i {
  font-size: 1.625rem;
  color: var(--text2);
}

.header2_searchClose:hover i {
  color: var(--orange);
}

.header2__outer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0 0;
}

.menu20__area {
  position: relative;
  /* width: 40%; */
}

.menu20 {
  display: flex;
  align-items: center;
}

.menu20 li {
  list-style: none;
  margin-right: 1.875rem;
}
.menu20 li:last-child {
  margin-right: 0;
}

.menu20 li a {
  text-decoration: none;
  color: var(--text2);
  text-transform: uppercase;
  position: relative;
  font-size: 1rem;
  line-height: 1.5;
}
.menu20 li a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 0;
  background: var(--text2);
  transition: all 0.1s;
  opacity: 0;
}

.menu20 li a:hover:after,
.menu20 li.active a:after {
  opacity: 1;
  bottom: -8px;
  height: 3px;
}

.menu21__area {
  width: 100%;
  position: relative;
  background: #f8f8f8;
}

.menu21__Outer {
  width: 100%;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.menu21 {
  display: flex;
  align-items: center;
}

.menu21 li {
  list-style: none;
  margin-right: 1.5rem;
}
.menu21 li:last-child {
  margin-right: 0;
}

.menu21 li a {
  text-decoration: none;
  color: var(--text2);
  text-transform: uppercase;
  position: relative;
  font-size: 0.875rem;
  line-height: 2.375rem;
  display: flex;
}
.menu21 li a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: var(--text2);
  transition: all 0.1s;
}

.menu21 li a:hover,
.menu21 li.active a {
  color: var(--orange);
}

.menu21 li a:hover:after,
.menu21 li.active a:after {
  bottom: 0;
  height: 2px;
  background: var(--orange);
}

.header2__buttons {
  display: flex;
  align-items: center;
  /* width: 40%; */
  justify-content: flex-end;
}

.login2__area {
  display: flex;
  align-items: center;
}

.login2__item {
  margin: 0 1rem 0 0;
}

.login2__item:last-child {
  margin: 0;
  padding: 0 0 0 1rem;
  border-left: 1px solid #e5e5e5;
}

.login2__item a {
  font-size: 0.875rem;
  text-decoration: none;
  color: var(--text2);
  text-transform: uppercase;
  position: relative;
}

.login2__item a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: var(--text2);
  transition: all 0.1s;
}

.login2__item a:hover:after {
  bottom: -3px;
  height: 3px;
}

.buttons2__area {
  margin-left: 3.625rem;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.buttons2__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.875rem;
  cursor: pointer;
}

.buttons2__item:first-child {
  margin-left: 0;
}

.buttons2__item i {
  font-size: 1.625rem;
  color: var(--text2);
}

.buttons2__item:hover i {
  color: var(--orange);
}

.miniCart2__area {
  position: relative;
  display: block;
  text-decoration: none;
}
.miniCart2__area:hover {
  text-decoration: none;
}

.miniCart2__counter {
  position: absolute;
  right: -80%;
  top: -50%;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 700;
  visibility: hidden;
}

.miniCart2__counter_active {
  visibility: visible;
}

.dubleSliders__area {
  width: 100%;
  order: 0;
}

.dubleSliders__outer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.dubleSliders {
  display: flex;
  flex-wrap: wrap;
}

.dubleSliders__small {
  width: 33.333%;
  padding-right: 10px;
}

.dubleSliders__big {
  width: 66.666%;
  padding-left: 10px;
}

.firstPromo__outer {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.firstPromo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  line-height: 0;
  text-decoration: none;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.7s;
}

.firstPromo_dt {
  display: flex;
}
.firstPromo_mb {
  display: none;
}

.firstPromo:hover {
  transform: scale(1.1);
}

.firstPromo span {
  display: block;
  padding: 10px;
  /* background: var(--orange); */
  padding: 1rem;
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 700;
  text-align: center;
}

.firstPromo span.lightText {
  color: #fff;
  /* text-shadow: 0 -1px 1px #000, 0 -1px 1px #000, 0 1px 1px #000, 0 1px 1px #000, -1px 0 1px #000, 1px 0 1px #000,
    -1px 0 1px #000, 1px 0 1px #000, -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000,
    -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 1px #000,
    -1px 1px 1px #000, 1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000,
    -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 1px #000,
    -1px 1px 1px #000, 1px 1px 1px #000; */

  /* background: rgba(0, 0, 0, 0.65); */
}
.firstPromo span.darkText {
  color: #000;
  /* text-shadow: 0 -1px 1px #fff, 0 -1px 1px #fff, 0 1px 1px #fff, 0 1px 1px #fff, -1px 0 1px #fff, 1px 0 1px #fff,
    -1px 0 1px #fff, 1px 0 1px #fff, -1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, 1px 1px 1px #fff,
    -1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, 1px 1px 1px #fff, -1px -1px 1px #fff, 1px -1px 1px #fff,
    -1px 1px 1px #fff, 1px 1px 1px #fff, -1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, 1px 1px 1px #fff,
    -1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, 1px 1px 1px #fff, -1px -1px 1px #fff, 1px -1px 1px #fff,
    -1px 1px 1px #fff, 1px 1px 1px #fff; */
  /* background: rgba(255, 255, 255, 0.65); */
}

/* .s1-container {
  position: relative;
}

.ss1__pag {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 5;
}

.s1-pagination {
  flex: 1;
  display: flex;
  justify-content: center;
  display: none;
}

.s1-pagination span {
  margin: 0 0.375rem;
  background: #fff;
}

.s1-pagination span.swiper-pagination-bullet-active {
  background: var(--orange);
}

.ss1__buttons {
  display: flex;
}

.ss1__buttons div {
  height: 2.625rem;
  width: 2.625rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.ss1__left:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 2px;
  top: 50%;
  margin-top: -5px;
  right: -1px;
  background: #e5e5e5;
}

.ss1__buttons div i {
  font-size: 0.75rem;
  color: #e5e5e5;
  transition: all 0.3s;
}
.ss1__buttons div:hover i {
  color: var(--text2);
}

.ss1 {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  line-height: 0;
}

.ss1_info {
  position: absolute;
  width: 100%;
  height: 5rem;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.45);
  color: #fff;
  font-size: 1.125rem;
  line-height: 0;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: all 0.3s;
}

.ss1:hover .ss1_info {
  background: rgba(0, 0, 0, 0.65);
}
*/

/* .ss1_cover {
  height: 453px;
  width: 100%;
} */

.ss2 {
  position: relative;
  /* background-size: cover; */
  /* background-position: center center; */
  /* background-repeat: no-repeat; */
  text-decoration: none;
}

.ss2:after {
  display: block;
  content: "";
  width: 100%;
  padding-top: 50%;
}

.ss2 a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 0;
  display: block;
}

.ss2_cover {
  display: block;
  width: 100%;
}

.ss2_info {
  position: absolute;
  width: 100%;
  height: 5rem;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.45);
  color: #fff;
  font-size: 1.25rem;
  line-height: 0;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: all 0.3s;
}

.ss2:hover .ss2_info {
  background: rgba(0, 0, 0, 0.65);
}

/* .ss2 img {
  object-fit: cover;
  height: 100%;
  width: 100%;
} */

.s2-container {
  position: relative;
}

.ss2__pag {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 5;
}

.s2-pagination {
  flex: 1;
  display: flex;
  justify-content: center;
  display: none;
}

.s2-pagination span {
  margin: 0 0.375rem;
  background: #fff;
}

.s2-pagination span.swiper-pagination-bullet-active {
  background: var(--orange);
}

.ss2__buttons {
  padding: 0 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.ss2__buttons div {
  height: 2.625rem;
  width: 2.625rem;
  /* background: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.ss2__left,
.ss2__right {
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0);
  transition: all 0.3s;
}

.ss2__left {
  left: 0;
}

.ss2__right {
  right: 0;
}

/* .ss2__left:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 2px;
  top: 50%;
  margin-top: -5px;
  right: -1px;
  background: #e5e5e5;
} */

.ss2__left i,
.ss2__right i {
  font-size: 1rem;
  color: #e5e5e5;
  opacity: 0.85;
  transition: all 0.3s;
}

.ss2__left:hover,
.ss2__left:focus,
.ss2__right:hover,
.ss2__right:focus {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
}
.ss2__left:hover i,
.ss2__right:hover i {
  /* color: var(--text2); */
  opacity: 1;
}

.best2slider__area {
  width: 100%;
  order: 1;
}

.best2slider__outer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.best2__title {
  width: 100%;
  margin-top: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.best2__title img {
  width: 100%;
  display: block;
}

.best2__title span {
  /* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 2.5rem;
  z-index: 10; */
  color: var(--text2);
  font-size: 1.625rem;
  font-weight: 600;
}

.best2__title span:last-child {
  /* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 2.5rem;
  z-index: 10; */
  color: var(--text2);
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 0.625rem;
}

.best2slider {
  width: 100%;
  padding: 10px 0 30px;
  position: relative;
}

.best2 {
  display: flex;
  /* align-items: center; */
}

.best2-slide {
  height: auto;
}

.best2__itemOuter {
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.best2__item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-decoration: none;
  transition: all 0.3s;
  padding: 10px;
  height: 100%;
}

.best2__item:hover {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.08);
}

.best2__itemImg {
  width: 100%;
  /* height: 245px; */

  margin-bottom: 0.625rem;
  position: relative;
}

.best2__itemImg img {
  display: block;
  width: 100%;
}

.best2__itemImgInner {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.best2__itemImgInner img {
  display: block;
  width: 100%;
}

.best2__itemInfo {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 1rem;
  max-height: 120px;
  overflow: hidden;
}

.best2__itemTitle {
  font-weight: 600;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  color: var(--text2);
}

.best2__itemDesc {
  font-size: 0.875rem;
  color: var(--text2);
  line-height: 1.6;
}

.best2__itemPriceArea {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.best2__itemOldPrice {
  font-size: 1.125rem;
  white-space: nowrap;
  color: var(--text2light);
  text-decoration: line-through;
  margin-right: 1rem;
}
.best2__itemPrice {
  font-size: 1.125rem;
  font-weight: 600;
  white-space: nowrap;
  color: var(--text2);
}

.best2-container {
  position: relative;
  padding: 1rem 0 2rem;
}

.best2__left,
.best2__right {
  position: absolute;
  width: 3.875rem;
  height: 3.875rem;
  border-radius: 50%;
  top: 50%;
  margin-top: -1.9375rem;
  background: #fff;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s;
}

.best2__left:hover,
.best2__right:hover {
  background: var(--orange);
}

.best2__left:focus,
.best2__right:focus {
  border: none;
  outline: none;
}

.best2__left {
  left: -1.9375rem;
}

.best2__right {
  right: -1.9375rem;
}

.best2__left i,
.best2__right i {
  font-size: 1.5rem;
  color: var(--text2);
  transition: all 0.3s;
}

.best2__left:hover i,
.best2__right:hover i {
  color: #fff;
}

/* .linkBox2__area {
  width: 100%;
  order: 2;
}

.linkBox2__outer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.linkBox2 {
  padding: 20px 0 50px;
  margin: 0 -20px 0 0;
  display: flex;
}

.linkBox2__group {
}

.linkBox2__group_col {
  display: flex;
  flex-direction: column;
}

.linkBox2__itemOuter {
  float: left;
  position: relative;
  margin: 0 20px 20px 0;
  text-align: center;
}

.linkBox2__item {
  display: block;
  text-decoration: none;
  background-size: cover;
  background-position: center center;
  position: relative;
  margin: 0;
  padding: 0;
  outline: none;
  line-height: 0;
  overflow: hidden;
}

.linkBox2__item img {
  transition: all 0.8s;
}

.linkBox2__item:hover img {
  transform: scale(1.05);
}

.linkBox2__item span {
  position: absolute;
  width: 100%;
  height: 4rem;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.45);
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: all 0.3s;
}

.linkBox2__item:hover span {
  background: rgba(0, 0, 0, 0.65);
}

.linkBox2__cover_long {
  width: 305px;
  height: 630px;
  display: block;
}

.linkBox2__cover_big {
  width: 630px;
  height: 630px;
  display: block;
}

.linkBox2__cover_small {
  width: 305px;
  height: 305px;
  display: block;
} */

/* //////////////////// */

.linkBox3__area {
  width: 100%;
  order: 2;
}

.linkBox3__outer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.linkBox3 {
  padding: 20px 0 50px;
}

.linkBox3__itemWrapper {
  /* padding: 10px; */
  float: left;
  position: relative;
}

.linkBox3__itemWrapper_1 {
  width: 25%;
}
.linkBox3__itemWrapper_2 {
  width: 50%;
}
.linkBox3__itemWrapper_3 {
  width: 25%;
}
.linkBox3__itemWrapper_4 {
  width: 25%;
}

.linkBox3__itemOuter {
  /* position: relative; */
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
}

.linkBox3__itemWrapper:after {
  content: "";
  display: block;
  padding-top: 100%;
}

.linkBox3__itemWrapper_1:after {
  content: "";
  display: block;
  padding-top: 200%;
}

.linkBox3__item {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center center;
  transition: all 0.5s;
}

.linkBox3__item:hover {
  transform: scale(1.01);
  box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.08);
}

.linkBox3__item span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: #fff;
  background: rgba(0, 0, 0, 0.45);
  transition: all 0.5s;
}

.linkBox3__item:hover span {
  background: rgba(0, 0, 0, 0.65);
}

/* //////////////////// */

.best3_area {
  width: 100%;
  padding: 4.5rem 0;
  background: #f9f9f9;
}

.best3__outer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.best3slider {
  width: 100%;
  position: relative;
}

.best3__title {
  width: 100%;
  margin-bottom: 2rem;
}

.best3__title img {
  display: block;
  width: 100%;
}

.best3 {
  display: flex;
  margin: 0 -10px;
}

.best3__itemOuter {
  width: 25%;
  padding: 10px;
}

.best3__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #fff;
  text-decoration: none;
}

.best3__item:hover {
  box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.08);
}

.best3__itemImg {
  width: 100%;
  margin-bottom: 1.5rem;
  position: relative;
}

.best3__itemImg img {
  display: block;
  width: 100%;
}

.best3__itemSticker {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
}

.best3__itemSticker div {
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 700;
  color: #fff;
  padding: 0 6px;
  margin-right: 1px;
}

.best3__itemSticker_discount {
  background: #71ad2b;
}

.best3__itemSticker_redLabel {
  background: var(--orange);
}

.best3__itemTitleArea {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
}

.best3__itemTitleBrand {
  font-size: 1.125rem;
  color: #8d8d8d;
}

.best3__itemTitle {
  color: var(--text2);
  font-weight: 700;
  padding-left: 5px;
}

.best3__itemPriceArea {
  width: 100%;
  display: flex;
}

.best3__itemOldPrice {
  font-size: 1.125rem;
  white-space: nowrap;
  color: var(--text2light);
  text-decoration: line-through;
  margin-right: 1rem;
}

.best3__itemPrice {
  font-size: 1.125rem;
  font-weight: 600;
  white-space: nowrap;
  color: var(--text2);
}

.best3-container {
  position: relative;
}

.best3__left,
.best3__right {
  position: absolute;
  width: 3.875rem;
  height: 3.875rem;
  border-radius: 50%;
  top: 50%;
  margin-top: -1.9375rem;
  background: #fff;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s;
}

.best3__left:hover,
.best3__right:hover {
  background: var(--orange);
}

.best3__left:focus,
.best3__right:focus {
  border: none;
  outline: none;
}

.best3__left {
  left: -1.9375rem;
}

.best3__right {
  right: -1.9375rem;
}

.best3__left i,
.best3__right i {
  font-size: 1.5rem;
  color: var(--text2);
  transition: all 0.3s;
}

.best3__left:hover i,
.best3__right:hover i {
  color: #fff;
}

/* .about2__area {
  width: 100%;
  background: #fff;
  order: 5;
}

.about2__outer {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
  padding: 4.5rem 0;
}

.about2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about2__left {
  width: 50%;
}

.about2__right {
  width: 50%;
}

.about2__img {
  position: relative;

  margin-left: 30px;
  margin-bottom: 30px;
}

.about2__img:before {
  content: "";
  position: absolute;
  border: 1px solid #c7c7c7;
  width: 100%;
  height: 100%;
  bottom: -30px;
  left: -30px;
}

.about2__img img {
  display: block;
  width: 100%;
  position: relative;
}

.about2__content {
  padding-left: 40px;
}

.about2__content h2 {
  color: var(--text2);
  margin-bottom: 30px;
}

.about2__redmore {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #8d8d8d;
  font-weight: 700;
  text-decoration: none;
  position: relative;
}

.about2__redmore:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #8d8d8d;
  transition: all 0.2s;
  opacity: 0;
}

.about2__redmore:hover:after {
  opacity: 1;
  bottom: -3px;
  height: 3px;
} */

.about3__area {
  width: 100%;
  background: #fff;
  order: 5;
}

.about3__outer {
  width: 100%;
  margin: 2.5rem auto;
  max-width: 1280px;
  /* padding: 2.5rem 0; */
}

.about3 {
  display: flex;
  flex-direction: column;
}

.about3 h2 {
  color: var(--text2);
  margin-bottom: 1.5rem;
}

.about3__redmore {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #8d8d8d;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  margin-right: auto;
}

.about3__redmore:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #8d8d8d;
  transition: all 0.2s;
  opacity: 0;
}

.about3__redmore:hover:after {
  opacity: 1;
  bottom: -3px;
  height: 3px;
}

.footer2__area {
  width: 100%;
  background: var(--dark2);
  padding: 2.5rem 0;
}

.footer2__outer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.footer2 {
  display: flex;
}

.footer2__left {
  width: 33.333%;
  display: flex;
  flex-direction: column;
}

.footer2__right {
  width: 66.666%;
}

.footer2__logo {
  width: 100%;
  max-width: 197px;
  text-decoration: none;
  line-height: 0;
  margin-bottom: 2rem;
}

.footer2__logo img {
  width: 100%;
  display: block;
}

.footer2__item {
  margin-bottom: 2rem;
}
.footer2__item:last-child {
  margin-bottom: 0;
}

.footer2__item span {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 700;
  color: #fff;
  display: block;
}
.footer2__item p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #fff;
}

.footer2__item a {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
  display: block;
}

.footer2__item a:hover {
  text-decoration: underline;
}

.footer2__menuArea {
  border-bottom: 1px solid #494949;
}

.footer2__menu {
  display: flex;
}

.footer2__menu li {
  list-style: none;
  margin-right: 3.5rem;
}

.footer2__menu li:last-child {
  margin-right: 0;
}

.footer2__menu li a {
  display: block;
  font-size: 0.875rem;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  padding-bottom: 1rem;
}

.footer2__menu li a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  opacity: 0;
  transition: all 0.2s;
}

.footer2__menu li.active a {
  color: var(--orange);
}

.footer2__menu li.active a:after {
  background: var(--orange);
  opacity: 1;
}

.footer2__menu li a:hover:after {
  opacity: 1;
}

.footer2__paySystems {
  margin-top: 6rem;
  display: flex;
  align-items: center;
}

.footer2__paySystemsItem {
  margin-right: 2rem;
}
.footer2__paySystemsItem:last-child {
  margin-right: 0;
}

.footer2__links {
  margin-top: 4.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer2__link {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
  display: block;
  margin-right: 4rem;
  margin-bottom: 1rem;
}

.footer2__link:hover {
  text-decoration: underline;
  color: #fff;
}

.bottomWide__area {
  width: 100%;
  order: 10;
}

.bottomWide__outer {
  width: 100%;
}

.bottomWide {
  display: flex;
  position: relative;
}

.bottomWide__item {
  width: 16.666%;
}

.bottomWide__item a {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  line-height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.bottomWide__item a:after {
  content: "";
  position: absolute;
  width: 7.5rem;
  height: 7.5rem;
  top: 50%;
  left: 50%;
  margin-top: -3.75em;
  margin-left: -3.75rem;
  background-image: url(../img/index2/play2.svg);
  background-size: cover;
  z-index: 10;
  opacity: 0;
  transition: all 0.5s;
}

a.videoLink_dt {
  display: flex;
}
a.videoLink_mb {
  display: none;
}

.bottomWide__item a:hover:after {
  opacity: 1;
}

.bottomWide__item a img {
  display: block;
  width: 100%;
  object-fit: fill;
  position: relative;
  transition: all 0.5s;
}
.bottomWide__item a:hover img {
  transform: scale(1.05);
}

.bottomWide__item a span {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  line-height: 1.3;
  color: #fff;
  font-weight: 700;
  padding: 0 2rem;
  transition: all 0.5s;
}

.bottomWide__item a:hover span {
  background: rgba(0, 0, 0, 0.65);
}

.bottomWide__left,
.bottomWide__right {
  position: absolute;
  width: 3.875rem;
  height: 3.875rem;
  border-radius: 50%;
  top: 50%;
  margin-top: -1.9375rem;
  background: #fff;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s;
}

.bottomWide__left:hover,
.bottomWide__right:hover {
  background: var(--orange);
}

.bottomWide__left:focus,
.bottomWide__right:focus {
  border: none;
  outline: none;
}

.bottomWide__left {
  left: 1rem;
}

.bottomWide__right {
  right: 1rem;
}

.bottomWide__left i,
.bottomWide__right i {
  font-size: 1.5rem;
  color: var(--text2);
  transition: all 0.3s;
}

.bottomWide__left:hover i,
.bottomWide__right:hover i {
  color: #fff;
}

/* collage */

.collage__area {
  width: 100%;
  order: 3;
}

.collage__outer {
  width: 100%;
  /* max-width: 1440px; */
  margin: 0 auto;
}

.collage__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.collage {
  width: 25%;
}
/* .collage__1 {
  width: 20%;
}
.collage__2 {
  width: 30%;
} */

.collage__itemOuter {
  float: left;
  position: relative;
  width: 100%;
}

.collage__item {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  background: #eee;
  text-decoration: none;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  opacity: 0.5;
  transition: all 0.5s;
}
.collage__item:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  opacity: 1;
}

.collage__itemOuter:after {
  display: block;
  content: "";
}

.collage__itemOuter_1_1:after {
  margin-top: 60%;
}

.collage__itemOuter_1_2:after {
  margin-top: 40%;
}

.collage__itemOuter_2_1:after {
  margin-top: 50%;
}

.collage__itemOuter_2_2 {
  width: 50%;
}

.collage__itemOuter_2_2:after {
  margin-top: 100%;
}

.collage__itemOuter_2_3 {
  width: 50%;
}

.collage__itemOuter_2_3:after {
  margin-top: 100%;
}

.collage__itemOuter_3_1:after {
  margin-top: 100%;
}
.collage__itemOuter_4_1:after {
  margin-top: 50%;
}
.collage__itemOuter_4_2:after {
  margin-top: 50%;
}
