h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--tColor);
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  margin: 0 0 10px 0;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 1.625rem;
}

h2 {
  font-size: 1.5rem;
  margin: 10px 0 10px 0;
}

h3 {
  font-size: 1.25rem;
  margin: 10px 0 10px 0;
}

h4 {
  font-size: 1.125rem;
  margin: 10px 0 10px 0;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 0.875rem;
}

.content {
  margin-bottom: 20px;
}

.content p,
/* .content ul,
.content ol, */
.content blockquote,
.content table {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 10px 0;
  color: var(--tColor);
}

.content p:last-child,
.content ul:last-child,
.content ol:last-child,
.content blockquote:last-child,
.content table:last-child {
  margin-bottom: 0;
}

.content ul,
.content ol {
  padding: 0 0 15px 25px;
  list-style-position: outside;
}

.content ul.list-style-none,
.content ul.list-style-none ul {
  padding-left: 2rem;
  list-style-type: none;
  padding-bottom: 0;
  list-style: none;
}

.content ul li {
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
  line-height: 1.5;
}
.content ul li:last-child {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.content ol li {
  margin: 0 0 5px 0;
  padding: 0 0 5px 23px;
  line-height: 1.5;
}
.content ol li:last-child {
  margin: 0 0 0 0;
  padding: 0 0 0 23px;
}

.content ul li {
  /* list-style-image: url("../img/ulbg.png"); */
}

.content blockquote {
  color: #000;
  padding: 10px 20px;
  background: var(--x1greySuperLight);
  line-height: 1.5;
  font-style: italic;
}

.content blockquote p {
  color: #000;
  line-height: 1.5;
  font-style: italic;
}

.content a {
  color: var(--orange);
  text-decoration: underline;
}

/* .content ol {
  counter-reset: li;
  padding: 0;
  list-style: none;
  margin: 20px 0;
}

.content ol li {
  position: relative;
  margin: 0;
  padding-left: 30px;
  color: #363636;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.content ol li:before {
  content: counter(li) ".";
  counter-increment: li;
  position: absolute;
  left: 0px;
  width: 25px;
  text-align: right;
  display: inline-block;
  color: var(--redFill);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
} */

.content img {
  max-width: 100%;
  display: inline-block;
  margin-bottom: 10px;
  height: auto;
}

.content b,
.content strong {
  font-weight: bold;
}

.content i,
.content cite,
.content em,
.content var,
.content address,
.content dfn {
  font-style: italic;
}

.content table th,
.content table td {
  padding: 10px;
  border: 1px solid var(--x1grey);
}

table.clear {
  border-collapse: collapse;
  margin-bottom: 15px;
}

table.clear td {
  text-align: center;
  vertical-align: middle;
  border: 0;
}

.table_outer {
  max-width: 100%;
  overflow: auto;
  margin-bottom: 1.25rem;
}
.table_outer table {
  min-width: 500px;
}

.table_outer250 {
  max-width: 100%;
  overflow: auto;
  margin-bottom: 1.25rem;
}
.table_outer250 table {
  min-width: 250px;
}

.wideRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
}

.content ol {
  list-style: none;
  counter-reset: li;
}

.content ol li:before {
  counter-increment: li;
  content: counters(li, ".") ". ";
  margin-left: -23px;
}

.content ol ul {
  list-style-type: disc;
  list-style-position: outside;
}

.content ol ul li:before {
  display: none;
}

.content_small {
  position: relative;
}

.content_small p,
.content_small li {
  font-size: 0.875rem;
  line-height: 1.4;
}
