:root {
  --colorFFF: #fff;
  --color000: #000;
  --colorLightGrey: #f6f6fa;
  --colorGrey: #bebebe;
  --colorDarkGrey: #6b6b6b;
  --color1: rgba(65, 51, 40, 0.6);
  --color2: rgba(65, 51, 40, 0.8);
  /* --redFill: #f76060; */
  /* --redFill: #ff4141; */
  --redFill: #ff8000;
  --redFillhover: #ff8000;
  /* --tColor: #413328; */
  --tColor: #000;
  --x1dark: #4b4b4b;
  --x1grey: #929292;
  --x1greyLight: #aaaaaa;
  --x1border: #e0e0e0;
  --x1greySuperLight: #cccccc;
  --x1greyDark: #525252;
  --title1bg: #e6e6e6;
  /* --orange: #ff6600; */
  --orange: rgba(255, 51, 0, 1);
  --LimeGreen: #32cd32;
  --blueLink: #346ca6;
  --xGreen: #00994c;

  --dark2: #252525;
  --text2: #404040;
  --text2light: #8d8d8d;
  /* --header: #404040; */
  /* --header: rgba(255, 51, 0, 1); */
  --header: rgba(255, 255, 255, 1);
  --lmDark: #404040;
}

.w0 {
  width: 100%;
  position: relative;
}

.w1 {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0 0 0;
}
.mx15- {
  margin-left: -15px;
  margin-right: -15px;
}

.colorFFF {
  color: #ffffff;
}

.color000 {
  color: #000000;
}

.bgE5E5E5 {
  background-color: #e5e5e5;
}

a.hover {
  text-decoration: none !important;
}

.hide_600 {
  display: block;
  display: inline-block;
}

.show_600 {
  display: none;
}

.visible {
  visibility: visible !important;
  opacity: 1 !important;
}

/* .indent0 {
  padding-left: 0;
}

.indent1 {
  padding-left: 0.625rem;
}

.indent2 {
  padding-left: 0.9375rem;
}

.indent3 {
  padding-left: 1.25rem;
} */

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.h20 {
  height: 1.25rem;
  width: 100%;
}

.detailed {
  color: var(--orange);
  font-weight: 700;
}
