mixin menuButton1
  .menuButton1__area.menuButton1__areaJS
    .menuButton1
      span
      span
      span


mixin m2_bottomMenu
  .m2_bottomMenu__areaFake
  .m2_bottomMenu__area
    //- +addCartBtn
    .m2_bottomMenu__outer
      .m2_bottomMenu
        a.m2_bottomMenu__item(href="#")
          i.icon-home
          span Главная
        a.m2_bottomMenu__item.aCatalogOpenBtn.aCatalogOpenBtn2(href="#")
          i.icon-search
          span Каталог
        a.m2_bottomMenu__item.aBrandOpenBtn(href="#")
          i.icon-flyers
          span Бренды
        a.m2_bottomMenu__item(href="#")
          i.icon-cart1
          span Корзина
          span.cartCounter 5
        //- a.m2_bottomMenu__item(href="#")
        //-   i.icon-favorit1
        //-   span Избранное
        a.m2_bottomMenu__item(href="#")
          i.icon-avatar1
          span Профиль

mixin adaptiveMenuArs
  .am__ovarlay
  .am__area 
    //- .am.am_back
    //-   .am__header
    //-     .am__title
    //-       span Женщинам 2
    //-     .am__close
    //-       i.icon-close1
    //-   .am__body
    //-     .am__item.hasInner
    //-       .am__itemTitle Одежда
    //-       .am__itemCount 320
    //-       .am__more
    //-         i.icon-more1
    //-     .am__item
    //-       .am__itemTitle Обувь
    //-       .am__itemCount 250
    //-     .am__item.hasInner
    //-       .am__itemTitle Аксессуары
    //-       .am__itemCount 640
    //-       .am__more Подробнее...
    //-     .am__item
    //-       .am__itemTitle Красота
    //-       .am__itemCount 120
    //-     .am__item
    //-       .am__itemTitle Спорт
    //-       .am__itemCount 440
    //- .am.am_back
    //-   .am__header
    //-     .am__BackBtn
    //-       i.icon-arr-left1
    //-       span назад
    //-     .am__title
    //-       span Женщинам 1
    //-     .am__close
    //-       i.icon-close1
    //-   .am__body
    //-     .am__item.hasInner
    //-       .am__itemTitle Одежда
    //-       .am__itemCount 320
    //-       .am__more Подробнее...
    //-     .am__item
    //-       .am__itemTitle Обувь
    //-       .am__itemCount 250
    //-     .am__item.hasInner
    //-       .am__itemTitle Аксессуары
    //-       .am__itemCount 640
    //-       .am__more Подробнее...
    //-     .am__item
    //-       .am__itemTitle Красота
    //-       .am__itemCount 120
    //-     .am__item
    //-       .am__itemTitle Спорт
    //-       .am__itemCount 440
    //- .am.am_back
      .am__header
        .am__BackBtn
          i.icon-arr-left1
          span назад
        .am__title
          span Женщинам
        .am__close
          i.icon-close1
      .am__body
        .am__item.hasInner
          .am__itemTitle Одежда
          .am__itemCount 320
          .am__more Подробнее...
        .am__item
          .am__itemTitle Обувь
          .am__itemCount 250
        .am__item.hasInner
          .am__itemTitle Аксессуары
          .am__itemCount 640
          .am__more Подробнее...
        .am__item
          .am__itemTitle Красота
          .am__itemCount 120
        .am__item
          .am__itemTitle Спорт
          .am__itemCount 440
    .am.am_active
      .am__header
        //- .am__BackBtn
        //-   i.icon-arr-left1
        //-   span назад
        .am__title.am__title_first
          span Каталог
        .am__close
          i.icon-close1
      .am__body.xScroll
        .am__item
          a.am__itemTitle(href="") Женщинам
            span.am__itemCount 32
          .am__more
            i.icon-more1
        .am__item
          a.am__itemTitle(href="") Мужчинам
            span.am__itemCount 25
          .am__more
            i.icon-more1
        .am__item.hasInner
          a.am__itemTitle(href="") Детям
            span.am__itemCount 64
          .am__more
            i.icon-more1
        .am__item
          a.am__itemTitle(href="") Красота
            span.am__itemCount 12
          .am__more
            i.icon-more1
    .am.am_next
      .am__header
        .am__BackBtn
          i.icon-arr-left1
          span назад
        .am__title
          span Женщинам
        .am__close
          i.icon-close1
      .am__body.xScroll
        .am__item
          a.am__itemTitle(href="") Одежда
            span.am__itemCount 1254
          .am__more
            i.icon-more1
        .am__item.hasInner
          a.am__itemTitle(href="") Обувь
            span.am__itemCount 2141
          .am__more
            i.icon-more1
        .am__item
          a.am__itemTitle(href="") Аксессуары
            span.am__itemCount 866
          .am__more
            i.icon-more1
    .am.am_next
      .am__header
        .am__BackBtn
          i.icon-arr-left1
          span назад
        .am__title
          span Одежда
        .am__close
          i.icon-close1
      .am__body.xScroll
        .am__item
          a.am__itemTitle(href="") Блузки и рубашки
           span.am__itemCount 5
        .am__item.hasInner
          a.am__itemTitle(href="") Боди
            span.am__itemCount 2
        .am__item
          a.am__itemTitle(href="") Брюки
            span.am__itemCount 10
        .am__item
          a.am__itemTitle(href="") Верхняя одежда
            span.am__itemCount 3
        .am__item
          a.am__itemTitle(href="") Джемперы, свитеры и кардиганы
            span.am__itemCount 8
        .am__item
          a.am__itemTitle(href="") Джинсы
            span.am__itemCount 3
        .am__item
          a.am__itemTitle(href="") Домашняя одежда
            span.am__itemCount 8
        .am__item
          a.am__itemTitle(href="") Комбинезоны
            span.am__itemCount 3
        .am__item
          a.am__itemTitle(href="") Купальники и пляжная одежда
            span.am__itemCount 8
        .am__item
          a.am__itemTitle(href="") Нижнее белье
            span.am__itemCount 3
        .am__item
          a.am__itemTitle(href="") Костюмы
            span.am__itemCount 8
        .am__item
          a.am__itemTitle(href="") Платья и сарафаны
            span.am__itemCount 3
        .am__item
          a.am__itemTitle(href="") Пиджаки и жакеты
            span.am__itemCount 8
        .am__item
          a.am__itemTitle(href="") Толстовки и худи
            span.am__itemCount 3
        .am__item
          a.am__itemTitle(href="") Топы и майки
            span.am__itemCount 8