mixin aBrandsTabs
  .aBrands__overlay 
  .aBrands__area.aBrands__area_mb
    .aBrands__outer
      //- .aBrands__fakeHeader
      //-   .orangeLogo
      //-     a(href="#")
      //-       img(src="assets/img/logo-white.svg", alt='Торговый комплекс МИР')
      .aBrands__title 
        .aBrandsTabs__titles
          a.aBrandsTabs__title.active(href="#" data-tab='1') Бренды
          a.aBrandsTabs__title(href="#" data-tab='2') По алфавиту
        .aBrands__close
          i.icon-close1
      .aBrandsTabs__area.xScroll
        //- .aBrandsTabs__titles
        //-   a.aBrandsTabs__title.active(href="#" data-tab='1') Бренды
        //-   a.aBrandsTabs__title(href="#" data-tab='2') По алфавиту
        .aBrandsTabs__widgets
          .aBrandsTabs__widget.active(data-widget='1')
            .aBrands
              .aBrands__itemOuter
                a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Birba/birba.svg);')
              .aBrands__itemOuter
                a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Crocs/crocs.jpg);')
              .aBrands__itemOuter
                a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/CvCover/cvcover.jpg);')
              .aBrands__itemOuter
                a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Dakkem/Dakkem.png);')
              .aBrands__itemOuter
                a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Destra/Destra.jpg);')
              .aBrands__itemOuter
                a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Forward/Forward.jpg);')
              .aBrands__itemOuter
                a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Gucci/gucci.jpg);')
              .aBrands__itemOuter
                a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Guinot/Guinot.jpg);')
              .aBrands__itemOuter
                a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Birba/birba.svg);')
              .aBrands__itemOuter
                a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Crocs/crocs.jpg);')
              .aBrands__itemOuter
                a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/CvCover/cvcover.jpg);')
              .aBrands__itemOuter
                a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Dakkem/Dakkem.png);')
              .aBrands__itemOuter
                a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Destra/Destra.jpg);')
              .aBrands__itemOuter
                a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Forward/Forward.jpg);')
              .aBrands__itemOuter
                a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Gucci/gucci.jpg);')
              .aBrands__itemOuter
                a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Guinot/Guinot.jpg);')
              .aBrands__itemOuter
                a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Birba/birba.svg);')
              .aBrands__itemOuter
                a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Crocs/crocs.jpg);')
              .aBrands__itemOuter
                a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/CvCover/cvcover.jpg);')
              .aBrands__itemOuter
                a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Dakkem/Dakkem.png);')
              .aBrands__itemOuter
                a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Destra/Destra.jpg);')
              .aBrands__itemOuter
                a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Forward/Forward.jpg);')
              .aBrands__itemOuter
                a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Gucci/gucci.jpg);')
              .aBrands__itemOuter
                a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Guinot/Guinot.jpg);')
          .aBrandsTabs__widget(data-widget='2')
            .aBrands__az
              .aBrands__azLetterBox
                .aBrands__azLetterBoxTitle A
                .aBrands__azLetterBoxContent
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") Absent
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") AIM
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") Aimosi
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") Alan Hadash
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") Albana
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") Alexander McQueen
              .aBrands__azLetterBox
                .aBrands__azLetterBoxTitle B
                .aBrands__azLetterBoxContent
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") Alpecora
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") Alpino
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") AlterEgo
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") Alvito
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") Absent
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") AIM
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") Aimosi
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") Alan Hadash
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") Albana
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") Alexander McQueen
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") Absent
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") AIM
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") Aimosi
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") Alan Hadash
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") Albana
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") Alexander McQueen
              .aBrands__azLetterBox
                .aBrands__azLetterBoxTitle C
                .aBrands__azLetterBoxContent
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") Absent
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") AIM
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") Aimosi
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") Alan Hadash
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") Albana
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") Alexander McQueen
              .aBrands__azLetterBox
                .aBrands__azLetterBoxTitle D
                .aBrands__azLetterBoxContent
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") Alpecora
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") Alpino
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") AlterEgo
                  .aBrands__azItemOuter
                    a.aBrands__azItem(href="") Alvito
