mixin siteHeader2
  .site__header
    .topLine2__area.p1280
      .topLine2__outer
        .topLine2
          .topLine2__item
            i.icon-marker1
            span г. Саратов, ул. Московская, 113-117
          .topLine2__item
            i.icon-phone
            a(href="tel:+78452759933") +7 (8452) 75 99 33
    +orangeHeader
    .header2__area.p1280
      .header2__searchArea
        .header2__searchOuter
          .header2__search
            .logo2
              a(href="#")
                img(src="assets/img/logo8801000mir.svg", alt="")
            form.header2_searchForm(action="")
              input(type="text" placeholder="Платье, костюм или крем?")
              button(type="submit") 
                i.icon-search2
              .searchPreResults__area
                ul.searchPreResults.xScroll
                  li
                    a(href="")
                      span.searchPreResults__img
                        img(src="assets/img/best3/001.jpg", alt="")
                      span.searchPreResults__info
                        span.searchPreResults__title <b>Кросс</b>овки
                        span.searchPreResults__brand Clemento
                      span.searchPreResults__price 5184 ₽
                  li
                    a(href="")
                      span.searchPreResults__img
                        img(src="assets/img/best3/002.jpg", alt="")
                      span.searchPreResults__info
                        span.searchPreResults__title Платье
                        span.searchPreResults__brand Rinachimento
                      span.searchPreResults__price 5184 ₽
                  li
                    a(href="")
                      span.searchPreResults__img
                        img(src="assets/img/ss1/t9.jpg", alt="")
                      span.searchPreResults__info
                        span.searchPreResults__title Брюки
                        span.searchPreResults__brand Rinachimento
                      span.searchPreResults__price 5184 ₽
                  li
                    a(href="")
                      span.searchPreResults__img
                        img(src="assets/img/best3/002.jpg", alt="")
                      span.searchPreResults__info
                        span.searchPreResults__title Платье
                        span.searchPreResults__brand Rinachimento
                      span.searchPreResults__price 5184 ₽
                  li
                    a(href="")
                      span.searchPreResults__img
                        img(src="assets/img/ss1/t9.jpg", alt="")
                      span.searchPreResults__info
                        span.searchPreResults__title Брюки
                        span.searchPreResults__brand Rinachimento
                      span.searchPreResults__price 5184 ₽
                  li
                    a(href="")
                      span.searchPreResults__img
                        img(src="assets/img/best3/002.jpg", alt="")
                      span.searchPreResults__info
                        span.searchPreResults__title Платье
                        span.searchPreResults__brand Rinachimento
                      span.searchPreResults__price 5184 ₽
                  li
                    a(href="")
                      span.searchPreResults__img
                        img(src="assets/img/ss1/t9.jpg", alt="")
                      span.searchPreResults__info
                        span.searchPreResults__title Брюки
                        span.searchPreResults__brand Rinachimento
                      span.searchPreResults__price 5184 ₽
                  li
                    a(href="")
                      span.searchPreResults__img
                        img(src="assets/img/ss1/t9.jpg", alt="")
                      span.searchPreResults__info
                        span.searchPreResults__title Брюки
                        span.searchPreResults__brand Rinachimento
                      span.searchPreResults__price 5184 ₽
                  li
                    a(href="")
                      span.searchPreResults__img
                        img(src="assets/img/best3/002.jpg", alt="")
                      span.searchPreResults__info
                        span.searchPreResults__title Платье
                        span.searchPreResults__brand Rinachimento
                      span.searchPreResults__price 5184 ₽
                  li
                    a(href="")
                      span.searchPreResults__img
                        img(src="assets/img/ss1/t9.jpg", alt="")
                      span.searchPreResults__info
                        span.searchPreResults__title Брюки
                        span.searchPreResults__brand Rinachimento
                      span.searchPreResults__price 5184 ₽
                a.searchPreResults__allBtn(href="") Показать все результаты


            .header2_searchClose(title="Скрыть поиск")
              i.icon-close1
      .header2__outer
        header.header2
          nav.menu20__area
            ul.menu20
              li.active
                a(href="#") Женщинам
              li
                a(href="#") Мужчинам
              li
                a(href="#") Детям
              li
                a(href="#") Красота
              li
                a.openBrands_dt(href="#") Бренды
          .logo2
            a(href="#")
              img(src="assets/img/logo8801000mir.svg", alt="")

          .header2__buttons
            .headerRightLi.openShops_dt(href="#") Магазины
            .login2__area
              .login2__item
                a(href="#") Войти
              .login2__item
                a(href="#") Регистрация
            .buttons2__area
              .buttons2__item.header2__search_jsEvent
                i.icon-search2
              .buttons2__item
                i.icon-like2
              .buttons2__item
                .miniCart2__area
                  i.icon-bag
                  .miniCart2__counter 25
    

mixin menu21
  .menu21__area.p1280
    .menu21__Outer
      ul.menu21
        li.active
          a(href="#") Одежда
        li
          a(href="#") Обувь
        li
          a(href="#") Аксессуары


mixin orangeHeader
  .orangeHeader__areaFake
  .orangeHeader__areaFake2
  .orangeHeader__area
    .orangeHeader__outer
      +upBox
      .orangeHeader
        .orangeLogo
          a(href="#")
            //- img(src="assets/img/logo-white-mir.svg", alt='Торговый комплекс МИР')
            img(src="assets/img/logo8801000mir.svg", alt='Торговый комплекс МИР')
        i.icon-favorit1(style="margin-left: auto; font-size: 1.5rem; margin-right: 1rem")
        i.icon-search1(style=" font-size: 1.5rem; margin-right: 1rem")
        +menuButton1
      //- +searchWhite