include __shopTab





mixin best2
    .best2
      .best2__itemOuter
        a.best2__item(href="#")
          .best2__itemImg
            img(src="assets/img/ss1/t7.jpg", alt="")
          .best2__itemInfo
            .best2__itemTitle Rinachimento
            .best2__itemDesc Брюки
          .best2__itemPriceArea
            //- .best2__itemOldPrice 6800
            .best2__itemPrice 8300 ₽
      .best2__itemOuter
        a.best2__item(href="#")
          .best2__itemImg
            img(src="assets/img/ss1/t8.jpg", alt="")
          .best2__itemInfo
            .best2__itemTitle Rinachimento
            .best2__itemDesc Пиджак  
          .best2__itemPriceArea
            //- .best2__itemOldPrice 6800
            .best2__itemPrice 12400 ₽
      .best2__itemOuter
        a.best2__item(href="#")
          .best2__itemImg
            img(src="assets/img/ss1/t9.jpg", alt="")
          .best2__itemInfo
            .best2__itemTitle Rinachimento Rinachimento
            .best2__itemDesc Брюки 
          .best2__itemPriceArea
            .best2__itemOldPrice 6800
            .best2__itemPrice 3900 ₽
      .best2__itemOuter
        a.best2__item(href="#")
          .best2__itemImg
            img(src="assets/img/ss1/t10.jpg", alt="")
          .best2__itemInfo
            .best2__itemTitle Rinachimento
            .best2__itemDesc Жилет 
          .best2__itemPriceArea
            //- .best2__itemOldPrice 6800
            .best2__itemPrice 10500 ₽
      .best2__itemOuter
        a.best2__item(href="#")
          .best2__itemImg
            img(src="assets/img/ss1/t11.jpg", alt="")
          .best2__itemInfo
            .best2__itemTitle Rinachimento Rinachimento
            .best2__itemDesc Платье Платье Платье Платье Платье Платье Платье Платье Платье  
          .best2__itemPriceArea
            //- .best2__itemOldPrice 6800
            .best2__itemPrice 11900 ₽
      .best2__itemOuter
        a.best2__item(href="#")
          .best2__itemImg
            img(src="assets/img/ss1/t12.jpg", alt="")
          .best2__itemInfo
            .best2__itemTitle Rinachimento
            .best2__itemDesc Пиджак 
          .best2__itemPriceArea
            //- .best2__itemOldPrice 6800
            .best2__itemPrice 12400 ₽

mixin best2-1
  .best2__itemOuter
    a.best2__item(href="#")
      .best2__itemImg
        img(src="assets/img/ss1/best2cover.png", alt="")
        .best2__itemImgInner
          img(src="assets/img/ss1/t7.jpg", alt="")
      .best2__itemInfo
        .best2__itemTitle Rinachimento
        .best2__itemDesc Брюки
      .best2__itemPriceArea
        //- .best2__itemOldPrice 6800
        .best2__itemPrice 8300 ₽

mixin best2-2
  .best2__itemOuter
    a.best2__item(href="#")
      .best2__itemImg
        img(src="assets/img/ss1/best2cover.png", alt="")
        .best2__itemImgInner
          img(src="assets/img/ss1/t8.jpg", alt="")
      .best2__itemInfo
        .best2__itemTitle Rinachimento
        .best2__itemDesc Пиджак  
      .best2__itemPriceArea
        //- .best2__itemOldPrice 6800
        .best2__itemPrice 12400 ₽

mixin best2-3
  .best2__itemOuter
    a.best2__item(href="#")
      .best2__itemImg
        img(src="assets/img/ss1/best2cover.png", alt="")
        .best2__itemImgInner
          img(src="assets/img/ss1/t9.jpg", alt="")
      .best2__itemInfo
        .best2__itemTitle Rinachimento
        .best2__itemDesc Брюки 
      .best2__itemPriceArea
        .best2__itemOldPrice 6800
        .best2__itemPrice 3900 ₽

mixin best2-4
  .best2__itemOuter
    a.best2__item(href="#")
      .best2__itemImg
        img(src="assets/img/ss1/best2cover.png", alt="")
        .best2__itemImgInner
          img(src="assets/img/ss1/t10.jpg", alt="")
      .best2__itemInfo
        .best2__itemTitle Rinachimento
        .best2__itemDesc Жилет 
      .best2__itemPriceArea
        //- .best2__itemOldPrice 6800
        .best2__itemPrice 10500 ₽

mixin best2-5
  .best2__itemOuter
    a.best2__item(href="#")
      .best2__itemImg
        img(src="assets/img/ss1/best2cover.png", alt="")
        .best2__itemImgInner
          img(src="assets/img/ss1/t11.jpg", alt="")
      .best2__itemInfo
        .best2__itemTitle Rinachimento
        .best2__itemDesc Платье 
      .best2__itemPriceArea
        //- .best2__itemOldPrice 6800
        .best2__itemPrice 11900 ₽

mixin best2-6
  .best2__itemOuter
    a.best2__item(href="#")
      .best2__itemImg
        img(src="assets/img/ss1/best2cover.png", alt="")
        .best2__itemImgInner
          img(src="assets/img/ss1/t12.jpg", alt="")
      .best2__itemInfo
        .best2__itemTitle Rinachimento
        .best2__itemDesc Пиджак 
      .best2__itemPriceArea
        //- .best2__itemOldPrice 6800
        .best2__itemPrice 12400 ₽


mixin best3
  .best3
    .best3__itemOuter
      a.best3__item(href="#")
        .best3__itemImg
          img(src="assets/img/best3/001.jpg", alt="")
          .best3__itemSticker
            .best3__itemSticker_discount -20%
            .best3__itemSticker_redLabel Premium
        .best3__itemTitleArea
          .best3__itemTitleBrand Clemento /
          .best3__itemTitle Кроссовки
        .best3__itemPriceArea
          .best3__itemOldPrice 6480
          .best3__itemPrice 5184 ₽
    .best3__itemOuter
      a.best3__item(href="#")
        .best3__itemImg
          img(src="assets/img/best3/002.jpg", alt="")
          .best3__itemSticker
            .best3__itemSticker_discount -20%
        .best3__itemTitleArea
          .best3__itemTitleBrand Clemento /
          .best3__itemTitle Платье
        .best3__itemPriceArea
          .best3__itemOldPrice 6480
          .best3__itemPrice 5184 ₽
    .best3__itemOuter
      a.best3__item(href="#")
        .best3__itemImg
          img(src="assets/img/best3/001.jpg", alt="")
          .best3__itemSticker
            .best3__itemSticker_discount -20%
            .best3__itemSticker_redLabel Premium
        .best3__itemTitleArea
          .best3__itemTitleBrand Clemento /
          .best3__itemTitle Кроссовки
        .best3__itemPriceArea
          .best3__itemOldPrice 6480
          .best3__itemPrice 5184 ₽
    .best3__itemOuter
      a.best3__item(href="#")
        .best3__itemImg
          img(src="assets/img/best3/002.jpg", alt="")
          .best3__itemSticker
            .best3__itemSticker_redLabel Premium
        .best3__itemTitleArea
          .best3__itemTitleBrand Clemento /
          .best3__itemTitle Платье
        .best3__itemPriceArea
          .best3__itemOldPrice 6480
          .best3__itemPrice 5184 ₽