mixin upBox
  .upBox__area
    .upBox__outer
      //- .upBox__close
      //-   i.icon-close1
      .upBox
        nav.orangeMenu__area
          ul.orangeMenu
            li
              a.aShopOpenBtn(href="#") Наши магазины
            li
              a(href="") Политика конфиденциальности
            li
              a(href="") Правила торговли
            li
              a(href="") Контакты
            li
              a(href="") Политика конфиденциальности
            li
              a(href="") Правила торговли
            li
              a(href="") Контакты