mixin shopTab
  .aShops__overlay 
  .aShops__area.aShops__area_mb
    .aShops__outer
      //- .aShops__fakeHeader
      //-   .orangeLogo
      //-     a(href="#")
      //-       img(src="assets/img/logo-white.svg", alt='Торговый комплекс МИР')
      .aShops__title 
        .aShopsTabs__titles
          a.aShopsTabs__title.active(href="#" data-tab='1') Одежда
          a.aShopsTabs__title(href="#" data-tab='2') Обувь
          a.aShopsTabs__title(href="#" data-tab='2') Аксессуары
        .aShops__close
          i.icon-close1
      .aShopsTabs__area.xScroll
        //- .aShopsTabs__titles
        //-   a.aShopsTabs__title.active(href="#" data-tab='1') Бренды
        //-   a.aShopsTabs__title(href="#" data-tab='2') По алфавиту
        .aShopsTabs__widgets
          .aShopsTabs__widget.active(data-widget='1')
            .aShops__az
              .aShops__azLetterBox
                .aShops__azLetterBoxTitle A
                .aShops__azLetterBoxContent
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Absent
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") AIM
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Aimosi
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alan Hadash
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Albana
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alexander McQueen
              .aShops__azLetterBox
                .aShops__azLetterBoxTitle B
                .aShops__azLetterBoxContent
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alpecora
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alpino
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") AlterEgo
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alvito
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Absent
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") AIM
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Aimosi
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alan Hadash
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Albana
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alexander McQueen
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Absent
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") AIM
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Aimosi
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alan Hadash
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Albana
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alexander McQueen
              .aShops__azLetterBox
                .aShops__azLetterBoxTitle C
                .aShops__azLetterBoxContent
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Absent
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") AIM
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Aimosi
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alan Hadash
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Albana
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alexander McQueen
              .aShops__azLetterBox
                .aShops__azLetterBoxTitle D
                .aShops__azLetterBoxContent
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alpecora
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alpino
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") AlterEgo
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alvito
          .aShopsTabs__widget(data-widget='2')
            .aShops__az
              .aShops__azLetterBox
                .aShops__azLetterBoxTitle A
                .aShops__azLetterBoxContent
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Absent
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") AIM
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Aimosi
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alan Hadash
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Albana
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alexander McQueen
              .aShops__azLetterBox
                .aShops__azLetterBoxTitle B
                .aShops__azLetterBoxContent
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alpecora
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alpino
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") AlterEgo
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alvito
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Absent
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") AIM
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Aimosi
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alan Hadash
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Albana
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alexander McQueen
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Absent
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") AIM
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Aimosi
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alan Hadash
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Albana
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alexander McQueen
              .aShops__azLetterBox
                .aShops__azLetterBoxTitle C
                .aShops__azLetterBoxContent
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Absent
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") AIM
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Aimosi
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alan Hadash
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Albana
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alexander McQueen
              .aShops__azLetterBox
                .aShops__azLetterBoxTitle D
                .aShops__azLetterBoxContent
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alpecora
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alpino
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") AlterEgo
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alvito
          .aShopsTabs__widget(data-widget='3')
            .aShops__az
              .aShops__azLetterBox
                .aShops__azLetterBoxTitle A
                .aShops__azLetterBoxContent
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Absent
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") AIM
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Aimosi
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alan Hadash
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Albana
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alexander McQueen
              .aShops__azLetterBox
                .aShops__azLetterBoxTitle B
                .aShops__azLetterBoxContent
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alpecora
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alpino
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") AlterEgo
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alvito
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Absent
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") AIM
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Aimosi
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alan Hadash
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Albana
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alexander McQueen
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Absent
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") AIM
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Aimosi
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alan Hadash
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Albana
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alexander McQueen
              .aShops__azLetterBox
                .aShops__azLetterBoxTitle C
                .aShops__azLetterBoxContent
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Absent
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") AIM
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Aimosi
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alan Hadash
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Albana
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alexander McQueen
              .aShops__azLetterBox
                .aShops__azLetterBoxTitle D
                .aShops__azLetterBoxContent
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alpecora
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alpino
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") AlterEgo
                  .aShops__azItemOuter
                    a.aShops__azItem(href="") Alvito